.parent{
    border: 2px solid red;
    height: 300px;
}

.transition {
    border: 2px solid black;
    height: 200px;
    width: 200px;
/* 
    transition-property: ;
    transition-duration: ;
    transition-delay: ;
    transition-timing-function: ; */

    transition-property: all;
    transition-duration: 3s;

    /* transition-delay: 1s; */

    /* transition-timing-function: linear; */
    transition-timing-function: ease ;
    /* slow fast slow (1s 3s 1s) */
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: ease-in-out; */
    /* transition-timing-function: ease-out; */
    /* transition-timing-function: step-end; */
}

.transition:hover{
    transform: translateX(900px);
}

