.parent {
  border: 2px solid black;
  height: 900px;
  display: flex;
  /* flex-direction: row-reverse; */
  /* flex-direction: row; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* justify-content: flex-start; */
  /* justify-content: center; */
  /* justify-content: end; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */

  /* align-items: baseline; */
  /* align-items: end; */
  /* justify-content: end; */
  /* justify-content: baseline; */
  /* justify-content: center; */
  /* justify-content: right; */

  /* align-items: baseline; */

  flex-wrap: nowrap;
  flex-wrap: wrap;
  /* flex-flow: wrap-reverse; */
  align-content: baseline;
  align-content: center;
  /* align-content: end; */
  /* align-content: space-around; */
  /* align-content: space-between; */
  /* align-content: space-evenly; */

  /* row-gap: 10px;
     columns: 10px; */
  gap: 100px;
}
.box {
  border: 2px solid rgb(192, 44, 44);
  height: 100px;
  width: 100px;
}
